<div class="squatch-share">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" id="squatch-share-link" value="{{shareLinks.shareLink}}" readonly="readonly">

      <span class="label label-default fade" id="squatch-share-notification">{{variables 'widget.REFERRER_WIDGET.content.textVariables.shareNotification'}}</span>

      <span class="input-group-btn">
        <button class="btn btn-primary icon-btn copy" data-clipboard-target="#squatch-share-link" data-clipboard-notification="#squatch-share-notification">
          <i class="icon icon-link"></i>
          <span class="hidden-sm">{{variables 'widget.REFERRER_WIDGET.content.textVariables.shareButtons.copy'}}</span>
        </button>
      </span>
    </div>
  </div>

  <div class="clearfix">
    <div class="share-btn-container">
      <a class="squatch-share-btn emailShare {{variables 'widget.REFERRER_WIDGET.content.sharingOptions.EMAIL.emailDisplayRule'}}"
         target="{{#if (stringCompare mode "POPUP" emptyOnFalse=true)}}_blank{{else}}{{#if (stringCompare mode "EMBED" emptyOnFalse=true)}}_blank{{else}}_self{{/if}}{{/if}}">
        <img src="https://res.cloudinary.com/saasquatch/image/upload/v1527019524/revinate_email_pubk9e.png" />
      </a>

      <a class="squatch-share-btn twShare {{variables 'widget.REFERRER_WIDGET.content.sharingOptions.TWITTER.twitterDisplayRule'}}"
         target="{{#if (stringCompare mode "POPUP" emptyOnFalse=true)}}_blank{{else}}{{#if (stringCompare mode "EMBED" emptyOnFalse=true)}}_blank{{else}}_self{{/if}}{{/if}}">
        <img src="https://res.cloudinary.com/saasquatch/image/upload/v1527019524/revinate_twitter_qxxgka.png" />
      </a>

      <a class="squatch-share-btn twMobile {{variables 'widget.REFERRER_WIDGET.content.sharingOptions.TWITTER.twitterDisplayRule'}}"
         target="{{#if (stringCompare mode "POPUP" emptyOnFalse=true)}}_blank{{else}}{{#if (stringCompare mode "EMBED" emptyOnFalse=true)}}_blank{{else}}_self{{/if}}{{/if}}">
        <img src="https://res.cloudinary.com/saasquatch/image/upload/v1527019524/revinate_twitter_qxxgka.png" />
      </a>

      <a class="squatch-share-btn fbShare {{variables 'widget.REFERRER_WIDGET.content.sharingOptions.FACEBOOK.facebookDisplayRule'}}"
         target="{{#if (stringCompare mode "POPUP" emptyOnFalse=true)}}_blank{{else}}{{#if (stringCompare mode "EMBED" emptyOnFalse=true)}}_blank{{else}}_self{{/if}}{{/if}}">
        <img src="https://res.cloudinary.com/saasquatch/image/upload/v1527019524/revinate_facebook_olv44b.png" />
      </a>

      <a class="squatch-share-btn fbMobile {{variables 'widget.REFERRER_WIDGET.content.sharingOptions.FACEBOOK.facebookDisplayRule'}}"
         target="{{#if (stringCompare mode "POPUP" emptyOnFalse=true)}}_blank{{else}}{{#if (stringCompare mode "EMBED" emptyOnFalse=true)}}_blank{{else}}_self{{/if}}{{/if}}">
        <img src="https://res.cloudinary.com/saasquatch/image/upload/v1527019524/revinate_facebook_olv44b.png" />
      </a>
    </div>  
  </div>
</div>
