<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base target="_self">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Western Union Referral Program</title>
    <meta name="description" content="">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    
    {{> theme_messages}}

    {{squatchHead}}

    <!-- importing external css -->
    {{!-- <link rel="stylesheet" id="dashicons-css" href="../assets/css/external/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="admin-bar-css" href="../assets/css/external/admin-bar.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="query-monitor-css" href="../assets/css/external/query-monitor.css" type="text/css" media="all"> --}}
    {{!-- <link rel="stylesheet" href="/css/external/main.css"> --}}
    <link rel="stylesheet" href="{{assets 'css/external/admin-bar.min.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/dashicons.min.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/icons.data.svg.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/main.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/query-monitor.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/wuds.en.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/wuds.icons.min.css'}}">
    <link rel="stylesheet" href="{{assets 'css/external/wuds.wp.min.css'}}">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Importing Vanilla Components -->
    <script src="https://fast.ssqt.io/npm/@saasquatch/vanilla-components@1.2.x/dist/widget-components/entrypoint.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fast.ssqt.io/npm/@saasquatch/vanilla-components-assets@latest/icons.css"
    />

		{{!-- WA assets --}}
		<link
			rel="stylesheet"
			type="text/css"
			href="https://unpkg.com/@saasquatchisntreal/wa-components-assets@0.0.1/style.css"
		/>

    {{!-- This should have chipolo components --}}
    <script src="https://unpkg.com/@saasquatchisntreal/wa-components@0.0.2/dist/components-starter/entrypoint.js"></script>

  </head>
  <body>
      <script>
          $(document).ready(function() {
            $('.wu-carousel__layout__list').slick({
                dots: false,
                arrows: true,
                prevArrow: '#prev-slider-arrow',
                nextArrow: '#forward-slider-arrow',
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            })
          })
      </script>

    {{!--

    ALL REFERENCED VARIABLES (IN THE WIDGET)

    Header:               widget.REFERRER_WIDGET.content.widgetCustomization.heading
    Details:              widget.REFERRER_WIDGET.content.widgetCustomization.headerDetails
    Share Code Details:   widget.REFERRER_WIDGET.content.widgetCustomization.shareCodeDetails 
    Share Medium Details: widget.REFERRER_WIDGET.content.widgetCustomization.shareMediumDetails 

    Copy Button Text:     widget.REFERRER_WIDGET.content.textVariables.shareButtons.copy
    Copy Succes:          widget.REFERRER_WIDGET.content.textVariables.shareNotificationSuccess 
    Copy Failure:         widget.REFERRER_WIDGET.content.textVariables.shareNotificationFailure 

    --}}

    <sqh-global-container class="squatch-container" loadingcolor="#439B76">

      <div class="sqh-main-section">
      
      <sqh-text-component
      sqhbody="true"
      ismarkdown="true"
			text="{{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.heading'}}"
      color="#0a0005"
      fontsize="50"
      textalign="left"
      paddingtop="0"
      paddingbottom="0"
      class="sqh-header-text"
      ></sqh-text-component>

      <sqh-text-component
      sqhbody="true"
      ismarkdown="true"
			text="{{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.headerDetails' }}"
      color="#0a0005"
      fontsize="20"
      textalign="left"
      paddingtop="24"
      paddingbottom="24"
      class="sqh-description-text"
      ></sqh-text-component>
      <sqh-text-component
      sqhbody="true"
      ismarkdown="true"
			text="{{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.shareCodeDetails' }}"
      color="#3D3D3D"
      fontsize="18"
      textalign="left"
      paddingtop="0"
      paddingbottom="0"
      class="sqh-copy-cta-text"
      ></sqh-text-component>
      <mini-copy-box
				text="{{variables 'widget.REFERRER_WIDGET.content.textVariables.shareButtons.copy'}}"
        copysuccess="{{variables 'widget.REFERRER_WIDGET.content.textVariables.shareNotificationSuccess' }}"
        copyfailure="{{variables 'widget.REFERRER_WIDGET.content.textVariables.shareNotificationFailure' }}"
        buttoncolor="#0a0005"
        textcolor="#ffdd00"
      ></mini-copy-box>
      <sqh-text-component
      sqhbody="true"
      ismarkdown="true"
			text="{{variables 'widget.REFERRER_WIDGET.content.widgetCustomization.shareMediumDetails' }}"
      color="#3D3D3D"
      fontsize="14"
      textalign="left"
      paddingtop="12"
      paddingbottom="12"
      ></sqh-text-component>
      <wa-share-button-container
        emaildisplayrule="desktop-mobile"
				emailtext=""
        emailtextcolor="#ffdd00"
        emailbackgroundcolor="#0a0005"
        facebookdisplayrule="desktop-mobile"
        facebooktext=""
        facebooktextcolor="#ffdd00"
        facebookbackgroundcolor="#0a0005"
        twitterdisplayrule="hidden"
        twittertext=""
        twittertextcolor="#ffffff"
        twitterbackgroundcolor="#4797d2"
        smsdisplayrule="hidden"
        smstext=""
        smstextcolor="#ffffff"
        smsbackgroundcolor="#7bbf38"
        whatsappdisplayrule="hidden"
        whatsapptext=""
        whatsapptextcolor="#ffffff"
        whatsappbackgroundcolor="#25D366"
        linkedindisplayrule="hidden"
        linkedintext=""
        linkedintextcolor="#ffffff"
        linkedinbackgroundcolor="#0084b9"
        pinterestdisplayrule="hidden"
        pinteresttext=""
        pinteresttextcolor="#ffffff"
        pinterestbackgroundcolor="#cb2027"
        messengerdisplayrule="desktop-mobile"
        messengertext=""
        messengertextcolor="#ffdd00"
        messengerbackgroundcolor="#0a0005"
        linedisplayrule="hidden"
        linetext=""
        linetextcolor="#ffffff"
        linebackgroundcolor="#00c300"
      >
      </wa-share-button-container>
      </div>
      
      <wa-footer></wa-footer>

        </sqh-global-container>

    <main class="container-fuild bk-white">
        <div class="container pad-xl-vert">
            <h2 role="heading" aria-level="2"
                class="font-heading-h2  pad-xl-tp pad-md-bm text-M-center">
                Why should I refer? </h2>
            <div class="wu-carousel row justify-content-center w-100 mar-xs-none">
                <div
                    class="wu-carousel__layout  wu-carousel__layout--touch-scroll  col col-16 col-L-14 pad-xs-none">
                    <ul class="wu-carousel__layout__list wu-carousel__layout__list_standart wu-carousel__layout__list--3"
                        data-show-cols="3">
                        <li class="wu-carousel__layout__list__item">
                            <div class="mar-xs-bm">
                                <img class="d-block" data-lazyload-mobile-desktop-
                                    src="{{ assets 'images/send-in-person-2.svg'}}" alt="send-in-person-2"
                                    aria-label="send-in-person-2">
                            </div>
                            <div class="font-body-reg mar-xs-bm">
                                <strong>Global reach</strong>
                            </div>
                            <div class="font-body-sm">
                                <p class="font-body-sm">From Paris to Tokyo. Send money to hundreds
                                    of thousands of agent locations in 200+ countries around the
                                    globe.</p>

                            </div>
                        </li>
                        <li class="wu-carousel__layout__list__item">
                            <div class="mar-xs-bm">
                                <img class="d-block" data-lazyload-mobile-desktop-
                                    src="{{ assets 'images/Spot-_-dollar-with-pen.svg' }}" alt="dollar-with-pen"
                                    aria-label="dollar-with-pen">
                            </div>
                            <div class="font-body-reg mar-xs-bm">
                                <strong>Many ways to send</strong>
                            </div>
                            <div class="font-body-sm">
                                <p class="font-body-sm">Your friends can choose to send money the
                                    way they like: cash, bank account, mobile wallet, etc.</p>

                            </div>
                        </li>
                        <li class="wu-carousel__layout__list__item">
                            <div class="mar-xs-bm">
                                <img class="d-block" data-lazyload-mobile-desktop-
                                    src="{{ assets 'images/Spot-_-Money-and-receipt.svg' }}"
                                    alt="Spot-_-Money-and-receipt"
                                    aria-label="Spot-_-Money-and-receipt">
                            </div>
                            <div class="font-body-reg mar-xs-bm">
                                <strong>Money in minutes<sup>1</sup></strong>
                            </div>
                            <div class="font-body-sm">
                                <p class="font-body-sm">Cash payouts are ready in
                                    minutes<sup>1</sup>, while bank transfers only take a couple of
                                    days.</p>

                            </div>
                        </li>
                        <li class="wu-carousel__layout__list__item">
                            <div class="mar-xs-bm">
                                <img class="d-block" data-lazyload-mobile-desktop-
                                    src="{{ assets 'images/cup-computer-image.svg' }}" alt="cup-computer-image"
                                    aria-label="cup-computer-image">
                            </div>
                            <div class="font-body-reg mar-xs-bm">
                                <strong>Peace of mind</strong>
                            </div>
                            <div class="font-body-sm">
                                <p class="font-body-sm">We&rsquo;re reliable. We&rsquo;ve been
                                    moving money for over 145 years.</p>

                            </div>
                        </li>
                    </ul>
                </div>
                <i data-grunticon-embed
                    id="prev-slider-arrow"
                    class="wu-icon icon-0007_arrow-left wu-icon__spacing-scale-sm bk-action-light wu-dark bdr-radius-cir pad-xs-all d-none d-M-flex align-items-center justify-content-center"
                    data-slider-arrow-prev></i>
                <i data-grunticon-embed
                    id="forward-slider-arrow"
                    class="wu-icon icon-0008_arrow-right wu-icon__spacing-scale-sm bk-action-light wu-dark bdr-radius-cir pad-xs-all d-none d-M-flex align-items-center justify-content-center"
                    data-slider-arrow-next></i>
            </div>
        </div>
    </main>
    <!--  -->


    <!--  -->
    <!-- reasons -->
    <section class="container-fuild bk-white">
        <div class="container  pad-xl-vert">
            <div class="row justify-content-center">
                <div class="col col-16 col-M-14 col-L-12 col-XL-10">
                    <h2 role="heading" aria-level="2"
                        class="font-heading-h2 text-L-left text-center pad-md-bm">Why Western Union?
                    </h2>
                    <div role="list" class="row justify-content-between pad-sm-tp">
                        <div class="col col-16 col-M-7 mar-md-bm" role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0085_phone-hand d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    Easy to use </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>All it takes is just a few taps on our app or clicks on the
                                    website to send your transfer.</p>

                            </div>
                        </div>
                        <div class="col col-16 col-M-7 mar-md-bm" role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0123_online d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    Competitive fees </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>Send money with a brand used by millions.</p>

                            </div>
                        </div>
                        <div class="col col-16 col-M-7 mar-md-bm" role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0071_gift d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    Great offers </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>Sign up for our newsletter and get some great deals on reduced
                                    fees.</p>

                            </div>
                        </div>
                        <div class="col col-16 col-M-7 mar-md-bm" role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0193_privacy-show d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    Transparent </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>We don’t have any hidden fees. You’ll know exactly how much you
                                    will pay up front.</p>

                            </div>
                        </div>
                        <div class="col col-16 col-M-7 mar-md-bm" role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0210_donation d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    We care </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>Our Customer Care is always there for you.</p>

                            </div>
                        </div>
                        <div class="col col-16 col-M-7 " role="listitem">
                            <i data-grunticon-embed
                                class="wu-icon sapphire icon-0173_Send-money-in-person-icon d-flex wu-icon-heading__xl mar-sm-bm justify-content-L-start justify-content-center"></i>
                            <p class="font-body-reg mar-xs-bm text-L-left text-center">
                                <strong>
                                    We give back </strong>
                            </p>
                            <div class="font-body-sm text-L-left text-center">
                                <p>Thanks to you we‘ve funded 200+ NGOs in 174 countries since 2001.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reasons end -->
    <!--  -->



    <!--  -->
    <!-- footnote section -->
    <section class="container-fuild bk-wu-dark">
        <div class="container">
            <div class="row justify-content-center pad-xl-tp pad-xl-bm">
                <div class="col col-16 col-XL-13 col-L-14">
                    <p class="font-body-sm"><sup>1</sup>Funds may be delayed or services unavailable
                        based on certain transaction conditions, including amount sent, destination
                        country, currency availability, regulatory and foreign exchange issues,
                        required receiver action(s), identification requirements, agent location
                        hours, differences in time zones, or selection of delayed options.</p>

                </div>
            </div>
        </div>
    </section>
    <!-- footnote section end -->
    <!--  -->
  </body>
  </body>
</html>
